---
layout: compress
---

<!DOCTYPE html>
<html lang="en">

	<head>
		{% include head.html %}
		 <!-- mathjax javascript added CM 20151015-->
    	 		<script type="text/x-mathjax-config">
      	 		MathJax.Hub.Config({
      				tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}
      	 			});
    				</script>
    	 		<script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    	</script>
		
	</head>

	<body>

		{% include header.html %}

		<main>
			{{ content | replace: '&#8617;', '&#8617;&#xfe0e;' }}
		</main>

		{% if page.path contains '_posts' %}

			{% if content contains 'reversefootnote' %}
				<aside class="note"></aside>
				<script async src="{{site.baseurl}}/assets/footnotes.js"></script>
			{% endif %}

		{% endif %}

	</body>

</html>
